@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #37383F;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
  border: 1px solid white;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: whitesmoke;
}


body {
  background-color: #151515;
  font-family: 'Montserrat';
  color: white;
}

.container {
  line-height: 10px;
  margin-top: 20vh;
}

.container p {
  color: white;
  font-size: 20px;
}

.infinite {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
  
.infinite .card {
  width: 800px;
  height: 400px;
  border-radius: 10px;
  box-shadow: 0 10px 25px 5px rgba(0, 0, 0, 0.2);
  background: #18191a;
  overflow: hidden;
}
  
.infinite .card .name h1 {
  margin-left: 30px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  background: none;
  color: white;
}
  

.infinite .card .about {
  margin-left: 0px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
  
.infinite .card .about .box {
  margin-left: 20px;
  width: 400px;
  height: 100px;
  border-radius: 10px;
  background: #151515;
  overflow: hidden;
}
  
.infinite .card .about p {
  text-align:center;
  color:white;
}
  
.infinite .card .text {
  margin-left: 30px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  color: white;
  font-weight:600;
}
  
  

.infinite .card .banner {
  margin: auto;
  width: 800px;
  height: 80px;
  animation: dsTop 1.5s;
  animation: backgroundchange 120s infinite alternate;
}

.infinite .card .image {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 20px;
  margin-top: -40px;
}

.infinite .card .image .badges {
  text-align: center;
  font-size: 25px;
  margin-top: 50px;
  margin-left: 30px;
  width: 120px;
  height: 45px;
  border-radius: 10px;
  background-color: #151515;
  overflow: hidden;
  display: inline-flex;
}

.infinite .card .image .badges i {
  margin-top: 10px;
  margin-left: 10px;
}

.infinite .card .image .avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0 0 0 5px #151515, inset 0 0 0 5px #000000, inset 0 0 0 5px #000000, inset 0 0 0 5px #000000, inset 0 0 0 5px #000000;
  background: #151515;
  overflow: hidden;
  animation: mvTop 1.5s;
  
}

.infinite .card .image .avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.container .upper {
  font-size: 8vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .upper .typer {
  animation: colorchange 120s infinite alternate;
}

.container .info-inf {
  word-spacing: -3px;
  font-family: monospace;
  color: #90e434;
}

.container p:hover {
  color: red;
}

.container a {
  position: relative;
  top: 0;
  font-size: 17px;
  font-weight: 1000;
  margin-top:30px;
  display: inline-block;
  border-radius: 6px;
  margin-right: 15px;
  border: 2px solid rgb(209, 56, 56);
  color: black;
  background-color: rgb(209, 56, 56);
  padding: 10px 30px;
  text-decoration: none;
  animation: fadeInMove 2s;
  animation-fill-mode: forwards;
  transition: all 0.2s;
}
  
.container a:hover{
  color: black;
  background-color: crimson;
  border:2px solid crimson;
  box-shadow:  0 0px crimson, 0 0 11px crimson, 0 0 30px crimson;
  transition: all 0.2s;
  position: relative;
  top: -10px;
  transition: ease-in-out 0.3s;
  
}

.projects {
  margin-top: 200px;
}

.projects .text {
  display: flex;
  justify-content: center;
  align-items: center;
}
.projects .box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects .box a {
  text-decoration: none;
  color: white;
}

.projects .lastbox a {
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: top 1s;
}

.projects .lastbox .More {
  position: relative;
  top: 0;
  text-align: center;
  background: #292a2f;
  width: 450px;
  height: 170px;
  border-radius: 10px;
  box-shadow: 0 10px 25px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin-right: 20px;
  animation: top 1s;
  margin-bottom: 30px;
  transition: ease-in-out 0.3s;
}

.projects .lastbox .More:hover {
  position: relative;
  top: 10px;
  transition: ease-in-out 0.3s;
}

.projects .grabe {
  position: relative;
  top: 0;
  text-align: center;
  background: #292a2f;
  width: 450px;
  height: 170px;
  border-radius: 10px;
  box-shadow: 0 10px 25px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin-right: 20px;
  animation: top 1s;
  margin-bottom: 30px;
  transition: ease-in-out 0.3s;
}

.projects .aniwrapper {
  position: relative;
  top: 0;
  text-align: center;
  background: #292a2f;
  width: 450px;
  height: 170px;
  border-radius: 10px;
  box-shadow: 0 10px 25px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin-right: 20px;
  margin-bottom: 30px;
  transition: ease-in-out 0.3s;
}

.projects .box .grabe:hover {
  position: relative;
  top: 10px;
  transition: ease-in-out 0.3s;
}

.projects .box .aniwrapper:hover {
  position: relative;
  top: 10px;
  transition: ease-in-out 0.3s;
}

.languages {
  margin-top: 150px;
}
.languages .text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
  font-size: 40px
}

.languages .icons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
}

.languages .icons .python {
  position: relative;
  top: 0px;
  text-align: center;
  background: #292a2f;
  width: 250px;
  height: 170px;
  border-radius: 10px;
  box-shadow: 0 10px 25px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin-right: 20px;
  margin-bottom: 30px;
  transition: ease-in-out 0.3s;
}

.languages .icons .python i {
  font-size: 100px;
  text-align: center;
  margin-top: 35px;
}



.languages .icons .html {
  position: relative;
  top: 0px;
  text-align: center;
  background: #292a2f;
  width: 250px;
  height: 170px;
  border-radius: 10px;
  box-shadow: 0 10px 25px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin-right: 20px;
  margin-bottom: 30px;
  transition: ease-in-out 0.3s;
}

.languages .icons .html i {
  font-size: 100px;
  text-align: center;
  margin-top: 35px;
}

.languages .icons .css {
  position: relative;
  top: 0px;
  text-align: center;
  background: #292a2f;
  width: 250px;
  height: 170px;
  border-radius: 10px;
  box-shadow: 0 10px 25px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin-right: 20px;
  margin-bottom: 30px;
  transition: ease-in-out 0.3s;
}

.languages .icons .css i {
  font-size: 100px;
  text-align: center;
  margin-top: 35px;
}

.languages .icons .js {
  position: relative;
  top: 0px;
  text-align: center;
  background: #292a2f;
  width: 250px;
  height: 170px;
  border-radius: 10px;
  box-shadow: 0 10px 25px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin-right: 20px;
  margin-bottom: 30px;
  transition: ease-in-out 0.3s;
}

.languages .icons .js i {
  font-size: 100px;
  text-align: center;
  margin-top: 35px;
}

.languages .icons .js:hover {
  position: relative;
  top: -10px;
  transition: ease-in-out 0.3s;

}

.languages .icons .python:hover {
  position: relative;
  top: -10px;
  transition: ease-in-out 0.3s;

}

.languages .icons .html:hover {
  position: relative;
  top: -10px;
  transition: ease-in-out 0.3s;

}

.languages .icons .css:hover {
  position: relative;
  top: -10px;
  transition: ease-in-out 0.3s;

}

@keyframes colorchange {

    0% {
      color: #f9b8df;
    }
    10% {
      color: #8e44ad;
    }
    20% {
      color: #1abc9c;
    }
    30% {
      color: #d35400;
    }
    40% {
      color: red;
    }
    50% {
      color: #34495e;
    }
    60% {
      color: blue;
    }
    70% {
      color: #2980b9;
    }
    80% {
      color: #f1c40f;
    }
    90% {
      color: #2980b9;
    }
    100% {
      color: pink;
    }
  }


  @keyframes backgroundchange {
    0% {
      background-color: #f9b8df;
    }
    10% {
      background-color: #8e44ad;
    }
    20% {
      background-color: #1abc9c;
    }
    30% {
      background-color: #d35400;
    }
    40% {
      background-color: red;
    }
    50% {
      background-color: #34495e;
    }
    60% {
      background-color: blue;
    }
    70% {
      background-color: #2980b9;
    }
    80% {
      background-color: #f1c40f;
    }
    90% {
      background-color: #2980b9;
    }
    100% {
      background-color: pink;
    }
  }

.container p {
    display: flex;
    justify-content: center;
    align-items: center;
}

